#Footer{
    background-color: #000;
}
.footer_content{
    /* border: 1px solid red; */
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    color: #9e9e9e;
    font-size: 14px;
}
.footer_content_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.footer_resv_btn{
    color: white;
}
.btn_deco{
    color: #254995;
    font-weight: 800;
    margin-left: 10px;
}